@import "tailwindcss";

@theme {
  --color-cream: #F9F9F5;
  --color-forest: #1A2F23;
  --color-charcoal: #2D2D2D;
  --color-gold: #D4AF37;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}


/* Custom Utilities if needed, but Tailwind 4 handles most via classes */
@layer base {
  html {
    background-color: var(--color-cream);
    color: var(--color-charcoal);
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--color-forest);
  }

}

  body{
    background-color: #f5f1e8;
  }

  

  .social-icon {
  width: 44px;
  height: 44px;
  border-radius: 9999px;
  border: 1px solid rgb(229 229 229);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  font-size: 18px;
}

.social-icon:hover {
  background-color: black;
  color: white;
  transform: translateY(-2px);
}
