---
import ProductCard from "./ProductCard.astro";

const { products = [] } = Astro.props;
---

{
    products.length === 0 ? (
        <p class="text-center text-neutral-500">No products available.</p>
    ) : (
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {products.map((product: any) => (
                <ProductCard
                    title={product.title}
                    price={product.price}
                    image={product.image}
                    alt={product.alt}
                />
            ))}
        </div>
    )
}
