---
// Optional: add Font Awesome CDN for Pinterest & Reddit
import { Image } from "astro:assets";

const { title, description, date, readTime, coverImage } = Astro.props;

console.log("Cover iage ---",coverImage)
---

<section class="max-w-3xl mx-auto px-6 py-20">
{
  coverImage && (
    <Image
      src={coverImage}
      alt={description || title}
      class="w-full h-64 md:h-96 object-cover rounded-xl mb-12"
      loading="eager"
      decoding="async"
    />
  )
}


  <!-- Title & Meta -->
  <header class="mb-10">
    <h1 class="text-5xl font-serif mb-4">{title}</h1>
    <p class="text-neutral-500 text-sm">
      {new Date(date).toLocaleDateString()} · {readTime}
    </p>
    {description && <p class="mt-4 text-neutral-700">{description}</p>}
  </header>

  <!-- Blog Content -->
  <article
    class="prose
    prose-neutral
    lg:prose-lg
    xl:prose-xl
    max-w-none
    prose-headings:font-serif
    prose-headings:tracking-tight
    prose-headings:text-neutral-900
    prose-p:leading-relaxed
    prose-p:text-neutral-700
    prose-strong:text-neutral-900
    prose-blockquote:border-l-4
    prose-blockquote:border-black
    prose-blockquote:pl-6
    prose-blockquote:italic
    prose-blockquote:text-neutral-800"
  >
    <slot />
  </article>
</section>
